In [1]:
import pandas as pd
d=pd.DataFrame()
print(d)

Empty DataFrame
Columns: []
Index: []

In [2]:
import pandas as pd
d=pd.Series(['mahi','dharani','kavi'])
id=pd.Series([1,2,3])
f={'NAME':d,'ID':id}
r=pd.DataFrame(f) 
print(r)

      NAME  ID
0     mahi   1
1  dharani   2
2     kavi   3

In [3]:
print("\nExtract one column:\n")
print(r['NAME'])

Extract one column:

0       mahi
1    dharani
2       kavi
Name: NAME, dtype: object

In [4]:
print('\nAdding new column:\n')

r['AGE']=pd.Series([21,16,19])
print(r)

Adding new column:

      NAME  ID  AGE
0     mahi   1   21
1  dharani   2   16
2     kavi   3   19

In [5]:
print('\nExtracting second row:\n')
print(r.loc[1])

Extracting second row:

NAME    dharani
ID            2
AGE          16
Name: 1, dtype: object

In [6]:
print('\n Deleting new column:\n')
del r['AGE']
print(r)

 Deleting new column:

      NAME  ID
0     mahi   1
1  dharani   2
2     kavi   3

In [7]:
print('\n slice rows:\n',r[1:4])

 slice rows:
       NAME  ID
1  dharani   2
2     kavi   3

In [9]:
x=pd.DataFrame([['bhavi',4],['rashi',5]],columns=['NAME','ID'])
print("\n Adding new row values :\n",pd.concat([r,x]))
print("\n Deleting particular row :\n",r.drop(2))
print(r.loc[1])
print("\n Slice rows :\n ",r[1:4])

 Adding new row values :
       NAME  ID
0     mahi   1
1  dharani   2
2     kavi   3
0    bhavi   4
1    rashi   5

 Deleting particular row :
       NAME  ID
0     mahi   1
1  dharani   2
NAME    dharani
ID            2
Name: 1, dtype: object

 Slice rows :
        NAME  ID
1  dharani   2
2     kavi   3