In [3]:
import pandas as pd
car_selling_data ={'Brand':['Maruti','Maruti','Maruti','Maruti','Hyundai','Hyundai','Toyota','Mahindra','Mahindra','Ford'
,'Toyota','Ford'],
'Year':[2010, 2011, 2009, 2013, 2010, 2011, 2011, 2010, 2013, 2010, 2010, 2011],
'Sold':[6, 7, 9, 8, 3, 5,2, 8, 7, 2, 4, 2]}
df = pd. DataFrame(car_selling_data)
print("\nOriginal DataFrame:\n",df)
grouped = df.groupby('Year')
print("\nGroup by year 2010:\n",grouped.get_group(2010))

Original DataFrame:
        Brand  Year  Sold
0     Maruti  2010     6
1     Maruti  2011     7
2     Maruti  2009     9
3     Maruti  2013     8
4    Hyundai  2010     3
5    Hyundai  2011     5
6     Toyota  2011     2
7   Mahindra  2010     8
8   Mahindra  2013     7
9       Ford  2010     2
10    Toyota  2010     4
11      Ford  2011     2

Group by year 2010:
        Brand  Year  Sold
0     Maruti  2010     6
4    Hyundai  2010     3
7   Mahindra  2010     8
9       Ford  2010     2
10    Toyota  2010     4

In [7]:
student_data = {'Name': ['Amit', 'Praveen', 'Jagadesh','Rahul', 'Vishal', 'Suraj','Rishab', 'Sathish',
'Amit','Rahul', 'Praveen', 'Amit'],
'Roll_no': [23,54,29,36,23,38,12,45,34,36,54,23],
'Email': ['xxxx@gmail.com', 'xxxxxx@gmail.com','xxxxxx@gmail.com','xx@gmail.com',
'xxxx@gmail.com', 'xxxxx@gmail.com','xxxxx@gmail.com', 'xxxxx@gmail.com',
'xxxxx@gmail.com', 'xxxxxx@gmail.com','xxxxxxxxxx@gmail.com',
'xxxxxxxxxx@gmail.com']}
df=pd.DataFrame(student_data)
print("\nOriginal DataFrame:\n",df)
non_duplicate = df[~df.duplicated('Roll_no')]
print("\nRemoved duplicated rows:\n",non_duplicate)

Original DataFrame:
         Name  Roll_no                 Email
0       Amit       23        xxxx@gmail.com
1    Praveen       54      xxxxxx@gmail.com
2   Jagadesh       29      xxxxxx@gmail.com
3      Rahul       36          xx@gmail.com
4     Vishal       23        xxxx@gmail.com
5      Suraj       38       xxxxx@gmail.com
6     Rishab       12       xxxxx@gmail.com
7    Sathish       45       xxxxx@gmail.com
8       Amit       34       xxxxx@gmail.com
9      Rahul       36      xxxxxx@gmail.com
10   Praveen       54  xxxxxxxxxx@gmail.com
11      Amit       23  xxxxxxxxxx@gmail.com

Removed duplicated rows:
        Name  Roll_no             Email
0      Amit       23    xxxx@gmail.com
1   Praveen       54  xxxxxx@gmail.com
2  Jagadesh       29  xxxxxx@gmail.com
3     Rahul       36      xx@gmail.com
5     Suraj       38   xxxxx@gmail.com
6    Rishab       12   xxxxx@gmail.com
7   Sathish       45   xxxxx@gmail.com
8      Amit       34   xxxxx@gmail.com

In [8]:
student_data = {'Name': ['Amit', 'Praveen', 'Jagadesh','Rahul', 'Vishal', 'Suraj','Rishab', 'Sathish',
'Amit','Rahul', 'Praveen', 'Amit'],
'Roll_no': [23,54,29,36,23,38,12,45,34,36,54,23],
'Email': ['xxxx@gmail.com', 'xxxxxx@gmail.com','xxxxxx@gmail.com','xx@gmail.com',
'xxxx@gmail.com', 'xxxxx@gmail.com','xxxxx@gmail.com', 'xxxxx@gmail.com',
'xxxxx@gmail.com', 'xxxxxx@gmail.com','xxxxxxxxxx@gmail.com',
'xxxxxxxxxx@gmail.com']}
df=pd.DataFrame(student_data)
print("\nOriginal DataFrame:\n",df)
non_duplicate = df[df.duplicated('Roll_no')]
print("\nrows which are duplicated:\n",non_duplicate)

Original DataFrame:
         Name  Roll_no                 Email
0       Amit       23        xxxx@gmail.com
1    Praveen       54      xxxxxx@gmail.com
2   Jagadesh       29      xxxxxx@gmail.com
3      Rahul       36          xx@gmail.com
4     Vishal       23        xxxx@gmail.com
5      Suraj       38       xxxxx@gmail.com
6     Rishab       12       xxxxx@gmail.com
7    Sathish       45       xxxxx@gmail.com
8       Amit       34       xxxxx@gmail.com
9      Rahul       36      xxxxxx@gmail.com
10   Praveen       54  xxxxxxxxxx@gmail.com
11      Amit       23  xxxxxxxxxx@gmail.com

rows which are duplicated:
        Name  Roll_no                 Email
4    Vishal       23        xxxx@gmail.com
9     Rahul       36      xxxxxx@gmail.com
10  Praveen       54  xxxxxxxxxx@gmail.com
11     Amit       23  xxxxxxxxxx@gmail.com