In [23]:
import pandas as pd
pd.set_option("display.max_column",7)
df=pd.read_excel("sheet.xlsx")
print(df)

   Roll no.           Name  LICA   DLC  EM 2   T&D
0         1       Abhinith  36.0  41.0  63.0  53.0
1         2         Akilan  23.0  34.0  56.0  65.0
2         3      Anulaxxmi  23.0   NaN  53.0  33.0
3         4  Aravind Kumar  56.0  65.0   NaN  32.0
4         5          Arjun  34.0  65.0  76.0   NaN
5         6         Ashwin  25.0  55.0  23.0  54.0
6         7           Arya   NaN  57.0  75.0  23.0
7         8           Babu  75.0  54.0   NaN  43.0
8         9  Balaganapathy  43.0   NaN  65.0  43.0
9        10    Balamurugan  54.0  64.0  34.0  75.0

In [24]:
k=df.fillna(method='Pad')
print(k)
k.to_excel("sheet.xlsx")

   Roll no.           Name  LICA   DLC  EM 2   T&D
0         1       Abhinith  36.0  41.0  63.0  53.0
1         2         Akilan  23.0  34.0  56.0  65.0
2         3      Anulaxxmi  23.0  34.0  53.0  33.0
3         4  Aravind Kumar  56.0  65.0  53.0  32.0
4         5          Arjun  34.0  65.0  76.0  32.0
5         6         Ashwin  25.0  55.0  23.0  54.0
6         7           Arya  25.0  57.0  75.0  23.0
7         8           Babu  75.0  54.0  75.0  43.0
8         9  Balaganapathy  43.0  54.0  65.0  43.0
9        10    Balamurugan  54.0  64.0  34.0  75.0

In [18]:
k.drop(['LICA','T&D'],axis=1,inplace=True)
print(k)
k.to_excel("sheet.xlsx")

   Roll no.           Name   DLC  EM 2
0         1       Abhinith  41.0  63.0
1         2         Akilan  34.0  56.0
2         3      Anulaxxmi  34.0  53.0
3         4  Aravind Kumar  65.0  53.0
4         5          Arjun  65.0  76.0
5         6         Ashwin  55.0  23.0
6         7           Arya  57.0  75.0
7         8           Babu  54.0  75.0
8         9  Balaganapathy  54.0  65.0
9        10    Balamurugan  64.0  34.0

In [28]:
print("\n Drop Nan row:\n")
df=pd.read_excel("marks.xlsx")
print(df)
x=df.dropna()
print(x)
x.to_excel("sheet.xlsx")

 Drop Nan row:

   Unnamed: 0  Roll no.           Name  DLC  EM 2
0           0         1       Abhinith   41    63
1           1         2         Akilan   34    56
2           2         3      Anulaxxmi   34    53
3           3         4  Aravind Kumar   65    53
4           4         5          Arjun   65    76
5           5         6         Ashwin   55    23
6           6         7           Arya   57    75
7           7         8           Babu   54    75
8           8         9  Balaganapathy   54    65
9           9        10    Balamurugan   64    34
   Unnamed: 0  Roll no.           Name  DLC  EM 2
0           0         1       Abhinith   41    63
1           1         2         Akilan   34    56
2           2         3      Anulaxxmi   34    53
3           3         4  Aravind Kumar   65    53
4           4         5          Arjun   65    76
5           5         6         Ashwin   55    23
6           6         7           Arya   57    75
7           7         8           Babu   54    75
8           8         9  Balaganapathy   54    65
9           9        10    Balamurugan   64    34

In [39]:

y=df.replace({65:70})
print(y)
y.to_excel("sheet.xlsx")

   Unnamed: 0  Roll no.           Name  DLC  EM 2
0           0         1       Abhinith   41    63
1           1         2         Akilan   34    56
2           2         3      Anulaxxmi   34    53
3           3         4  Aravind Kumar   70    53
4           4         5          Arjun   70    76
5           5         6         Ashwin   55    23
6           6         7           Arya   57    75
7           7         8           Babu   54    75
8           8         9  Balaganapathy   54    70
9           9        10    Balamurugan   64    34

In [42]:
new=df['EM 2'].isin([56])
print(df[new])

   Unnamed: 0  Roll no.    Name  DLC  EM 2
1           1         2  Akilan   34    56