In [6]:
import numpy as np
import pandas as pd
d=pd.DataFrame(np.random.randn(4,3),index=['a','e','d','f'],columns=['one','two','three'])
print(d)
d=d.reindex(['a','b','c','d','e','f','g'])
print(d)

        one       two     three
a  1.811811  1.032734  0.010573
e -0.275255 -0.684575 -0.509226
d -0.607106  0.172301  1.157076
f  2.471261  2.053435  1.097176
        one       two     three
a  1.811811  1.032734  0.010573
b       NaN       NaN       NaN
c       NaN       NaN       NaN
d -0.607106  0.172301  1.157076
e -0.275255 -0.684575 -0.509226
f  2.471261  2.053435  1.097176
g       NaN       NaN       NaN

In [10]:
x=d
print(d.dropna())
print()

        one       two     three
a  1.811811  1.032734  0.010573
d -0.607106  0.172301  1.157076
e -0.275255 -0.684575 -0.509226
f  2.471261  2.053435  1.097176

In [11]:
print(x)
print(x.fillna(0))

        one       two     three
a  1.811811  1.032734  0.010573
b       NaN       NaN       NaN
c       NaN       NaN       NaN
d -0.607106  0.172301  1.157076
e -0.275255 -0.684575 -0.509226
f  2.471261  2.053435  1.097176
g       NaN       NaN       NaN
        one       two     three
a  1.811811  1.032734  0.010573
b  0.000000  0.000000  0.000000
c  0.000000  0.000000  0.000000
d -0.607106  0.172301  1.157076
e -0.275255 -0.684575 -0.509226
f  2.471261  2.053435  1.097176
g  0.000000  0.000000  0.000000

In [18]:
d=pd.DataFrame({'one':[10,20,30,40,50],'two':[60,70,20,50,10]})
print(d)
print(d.replace({50:5,70:3}))
print()

   one  two
0   10   60
1   20   70
2   30   20
3   40   50
4   50   10
   one  two
0   10   60
1   20    3
2   30   20
3   40    5
4    5   10

In [28]:
d=pd.DataFrame(np.random.randn(4,3),index=['a','e','d','f'],columns=['one','two','three'])
print(d)
d=d.reindex(['a','b','c','d','e','f','g'])

print(df['one'].isnull())

        one       two     three
a -0.872237 -0.374417 -1.426947
e  1.171202  0.470080 -1.406320
d  0.832560  0.851687  0.611157
f  0.394782 -1.046575 -1.910872
a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [31]:
print(df.fillna(method="ffill"))

        one       two     three
a -2.309261 -1.087366 -0.044657
b -2.309261 -1.087366 -0.044657
c -0.733617  0.474276  1.725497
d  0.627955 -0.670636 -0.342641
e  0.627955 -0.670636 -0.342641
f -0.424854  0.341153  0.411161

In [32]:
print(df.fillna(method="bfill"))

        one       two     three
a -2.309261 -1.087366 -0.044657
b -0.733617  0.474276  1.725497
c -0.733617  0.474276  1.725497
d  0.627955 -0.670636 -0.342641
e -0.424854  0.341153  0.411161
f -0.424854  0.341153  0.411161