In [7]:
import pandas as pd
d1={"name":['sai','sub','poo'],'age':[20,21,22]}
d2={'qualified':[True,True,False]}
d3=pd.DataFrame(d1)
print(d3)
d4=pd.DataFrame(d2)
print(d4)
result=d3.join(d4)
print(result)

  name  age
0  sai   20
1  sub   21
2  poo   22
   qualified
0       True
1       True
2      False
  name  age  qualified
0  sai   20       True
1  sub   21       True
2  poo   22      False

In [13]:
d1={"name":['bhavya','shanmathi','selvashree'],"age":[20,21,22]}
d2={'name':['mahi','kavi','dharani'],'age':[20,21,22]}
a=pd.DataFrame(d1)
b=pd.DataFrame(d2)
print(a)
print(b)
s=a.merge(b,on='age')
print(s)

         name  age
0      bhavya   20
1   shanmathi   21
2  selvashree   22
      name  age
0     mahi   20
1     kavi   21
2  dharani   22
       name_x  age   name_y
0      bhavya   20     mahi
1   shanmathi   21     kavi
2  selvashree   22  dharani

In [14]:
d1=pd.DataFrame({"team":['a','b','c','d'],"points":[70,79,95,86],'assists':[12,34,45,23],'rebounds':[56,55,43,36]})
x=pd.melt(d1,id_vars='team',value_vars=['points','assists','rebounds'])
print(x)

   team  variable  value
0     a    points     70
1     b    points     79
2     c    points     95
3     d    points     86
4     a   assists     12
5     b   assists     34
6     c   assists     45
7     d   assists     23
8     a  rebounds     56
9     b  rebounds     55
10    c  rebounds     43
11    d  rebounds     36

#