In [2]:
import pandas as pd
d=pd.read_csv("employee")
print(d)

     ID      NAME DATE OF JOINING  SALARY LAST LOGIN TIME             TEAM  \
0  1001       abi       9/12/2011   62000          7:00AM           design
1  1002      kavi        3/6/2012   54000          7:10AM          finance
2  1003      arun        4/9/2016   50000          7:05AM       marketting
3  1004   sridhar        8/9/2016   40000          7:10AM  product manager
4  1005   akshaya        5/9/2020   30000          8:00AM           design
5  1006    adhira       18/9/2021   35000          7:00AM  product manager
6  1007   shanthi       2/12/2017   75000           7:30M           design
7  1008   bhaskar        1/3/2013   55000          7:45AM          finance
8  1009      bala        3/6/2016   65000          7:18AM       marketting
9  1010  selvasri        5/7/2019   50000          7:05AM           design

  GENDER
0      F
1      F
2      M
3      M
4      F
5      F
6      F
7      M
8      M
9      F

In [9]:
c=pd.DataFrame(d)
print("columns:\n",c.columns)

columns:
 Index(['ID', 'NAME', 'DATE OF JOINING', 'SALARY', 'LAST LOGIN TIME', 'TEAM',
       'GENDER'],
      dtype='object')

In [8]:
print(c.shape)

(10, 7)

In [12]:
print(d[2:5])

     ID     NAME DATE OF JOINING  SALARY LAST LOGIN TIME             TEAM  \
2  1003     arun        4/9/2016   50000          7:05AM       marketting
3  1004  sridhar        8/9/2016   40000          7:10AM  product manager
4  1005  akshaya        5/9/2020   30000          8:00AM           design

  GENDER
2      M
3      M
4      F

In [14]:
print(d["TEAM"])

0             design
1            finance
2         marketting
3    product manager
4             design
5    product manager
6             design
7            finance
8         marketting
9             design
Name: TEAM, dtype: object

In [15]:
print(d.loc[5])

ID                            1006
NAME                        adhira
DATE OF JOINING          18/9/2021
SALARY                       35000
LAST LOGIN TIME             7:00AM
TEAM               product manager
GENDER                           F
Name: 5, dtype: object

In [19]:
print(d.loc[d['SALARY']==30000])

     ID     NAME DATE OF JOINING  SALARY LAST LOGIN TIME    TEAM GENDER
4  1005  akshaya        5/9/2020   30000          8:00AM  design      F

In [21]:
print(d['SALARY']/2)

0    31000.0
1    27000.0
2    25000.0
3    20000.0
4    15000.0
5    17500.0
6    37500.0
7    27500.0
8    32500.0
9    25000.0
Name: SALARY, dtype: float64