In [1]:
import pandas as pd
import numpy as np
print("Dataframe apply function :\n")
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n Original DataFrame :\n",info)
print("\n Squareroot of Dataframe :\n",info.apply(np.sqrt))
print("\n Sum of each column : \n",info.apply(np.sum,axis=0))
print("\n Sum of each row : \n",info.apply(np.sum,axis=1))

Dataframe apply function :


 Original DataFrame :
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 Squareroot of Dataframe :
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 Sum of each column :
 S    12
R    36
dtype: int64

 Sum of each row :
 0    12
1    12
2    12
3    12
dtype: int64

In [6]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['X','Y','Z'])
print(info)
print(info.agg(['min','max']))
d2=pd.DataFrame([['sai',88],['poo',70]],columns=['Emp','Id'])
print(d2)

   X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7
   Emp  Id
0  sai  88
1  poo  70

In [8]:
d2['age']=[20,18]
print(d2)
d=d2.assign(sex=['male','female'])
print(d)

   Emp  Id  age
0  sai  88   20
1  poo  70   18
   Emp  Id  age     sex
0  sai  88   20    male
1  poo  70   18  female

In [9]:
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)

       col3      col4
3 -0.277709 -0.888105
2 -1.234152  0.228713
0  0.749861  0.384094
4 -0.828534 -0.131290
1  1.378903  1.137735

In [12]:
info2=info.sort_index()
print(info2)

       col3      col4
0  0.749861  0.384094
1  1.378903  1.137735
2 -1.234152  0.228713
3 -0.277709 -0.888105
4 -0.828534 -0.131290

In [15]:
info3=info.sort_values(by='col3')
print(info3)

       col3      col4
2 -1.234152  0.228713
4 -0.828534 -0.131290
3 -0.277709 -0.888105
0  0.749861  0.384094
1  1.378903  1.137735

In [19]:
left=pd.DataFrame({'Id':[1,2,3],'Name':['sai','sle','kai'],'sub':['hae','iop','tyu']})
right=pd.DataFrame({'Id':[1,2,3],'Name':['tre','ghk','hji'],'sub':['sae','opk','nbv']})
print(pd.merge(left,right,on='Id'))

   Id Name_x sub_x Name_y sub_y
0   1    sai   hae    tre   sae
1   2    sle   iop    ghk   opk
2   3    kai   tyu    hji   nbv